.navbar{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2rem;
    font-size: 1rem;
}
.nav-top{
    display: flex;
    justify-content: space-between;

}
.nav-top h2{
    font-size: 30px;
}

.Search-bar{
    display: flex;
    flex-grow: 1;
    max-width: 650px;
    margin:0 20px ;
}
.search-input{
    padding: 10px 100px;
    flex-grow: 100px;
    border: 2px solid #de39ff;
    border-right: none;
    border-radius: 20px  0 20px;
    outline: none;
    font-size: 20px;

}
.search-input::placeholder{
    color: #cbcbcb;
}
.search-btn{
    background-color: #de39ff;
    color: rgb(10, 10, 10);
    border: none;
    padding: 10px 15px;
    border-radius:  20px  20px 0;
    font-weight: bold;
    cursor: pointer;
    
}
.icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icons .icon{
    font-size: 35px;
    cursor: pointer;

}
.profile-group{
    position: relative;
}
.dropdown-menu{
    display: none;
    position: absolute;
    top: 28px;
    right: -30px;
    background-color: aliceblue;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.profile-group:hover .dropdown-menu{
    display: block;
}
.dropdown-item{
    color: gray;
    cursor: pointer;
    margin: 5px 0;
}
.cart-icon{
    position: relative;
}
.cart-count{
    position: absolute;
    bottom: 15px;
    right: -5px;
    color: white;
    background: red;
    border-radius: 50%;
    font-size: 0.7em;
    padding: 0.2rem 0.4rem;

}
.nav-container{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.navbar-link{
    font-size: 20px;
    font-weight: 600;
}
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(255, 254, 254, 0.8); /* Slight overlay for visibility */
  }
  
  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #de39ff;
    -webkit-mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
    transform-origin: 50% 40%;
    animation: l25 1s infinite linear; /* Smooth rotation animation */
  }
  
  @keyframes l25 {
    100% {
      transform: rotate(1turn); /* Full rotation */
    }
  }
  